mixin material-card(data)
	.col-md-4.col-sm-6
			.report-module
				.thumbnail
					a(href='#')
						img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg')
				.post-content
					.category United States
					h1.title FIS Consumer Banking PACE Index
					p.description
						| The FIS Consumer Banking PACE Index™ indicated that two-thirds of banked consumers in the United States beieve their primary banking providers are not meeting expectations across a range of factors essential to building relevance and trust.
					.post-meta
						span.timestamp
							a.btn.btn-link(href='#') Access Report
						span.comments
							a.btn.btn-primary(href='#') View Infographic