mixin project-embed(project)
	.row
		.col-md-6
			p
				| My Awesome iOS Project
			p!=project
		.col-md-6
			- var app = project.appetizeURL;
			iframe(src='', width='378px', height='800px', frameborder='0', scrolling='no')