mixin project(project)
		.col-md-4.col-sm-6
			.report-module
				.thumbnail
					a(href='/projects/project/' + project.slug)
						if project.featureImage.exists
							img.img-responsive.panel-image-preview(src=project._.featureImage.fill(600,400), alt=project.title)
						else
							img.img-responsive.panel-image-preview(src='http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG')
				.post-content
					.category!=project.nanodegree.title
					h1.title: a(href='/projects/project/' + project.slug)=project.title
					p.description!=project.briefDescription
					.post-meta
						span.timestamp
							a.btn.btn-xs.btn-primary.pull-right(type='button' href='/projects/project/' + project.slug, itemprop='url') Read More
								span.glyphicon.glyphicon-chevron-right
						span.comments
							a(href='{project.downloadURL}'): span.social.glyphicon.glyphicon-download.inline
							a(href="http://www.uHub.io/projects/project/" + project.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
								span.social-icons.fa.fa-facebook
							a(href="https://twitter.com/share", data-via="uHub", data-hashtags="uHub", data-count="button", data-url='http://uhub.io/projects/project/' + project.slug, data-dnt="true").twitter-share-button: span.social.fa.fa-twitter
							button(type='submit', action='upvote-project'): span.social.fa.fa-hand-o-up
block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
	