mixin project(project)
		.col-md-7
		a(href='/projects/' + project.slug).post-image: img(src=project._.image.thumbnail(700,300), alt=project.title).img-responsive
		.col-md-4
		h3 project.title
		h4 by #{project.author.name.full}
		p
			| project.description
		a(href='/projects/' + projects.slug, itemprop='url')
			| projects.title 
			span.glyphicon.glyphicon-chevron-right
		//To do - allow user to edit their projects.