include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html

	//- HTML HEAD
	head
		if env == 'production' && chartbeat_property && chartbeat_domain
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")

		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		//- Appstore smart banner
		//meta(name="apple-itunes-app", content="app-id=XXXXXXXXXX")
		
		title= page.title
		
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://i.icomoon.io/public/temp/b6e4d6f9e5/UntitledProject/style.css')

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css
		block head

	//- HTML BODY
	body(class=section ? 'sitesection-' + section : null)
		#sb-site
		.site-wrapper.has-sticky-footer
			//- APP ALERT
			if section == 'home'
				include ../includes/layout/app-alert

			//- SITE HEADER
			include ../includes/layout/header
			
			//- SITE BODY
			block body
				main.site-body(role='main')

					block intro

					block flash-messages
						+flash-messages(messages)

					block content
						
			//- SITE FOOTER
			block footer
				include ../includes/layout/footer


		//- MODALS
		block modal
		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

	//- JAVASCRIPT
	script.
		var uHub = {};
		uHub.meetup = !{JSON.stringify(meetup)};
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
	script(src='/js/lib/bootstrap/collapse.js')
	script(src='/js/lib/bootstrap/dropdown.js')
	script(src='/js/lib/bootstrap/modal.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')

	//- Headroom
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js")
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js")
	//-script(src='/js/common/header.js')
	
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')
	
	script(src='/js/ui.js')
	
	//- ANALYTICS
	include ../includes/layout/analytics
	
	block js
