extends ../../layouts/default

block intro
	.container
		.page-intro
			h1.page-title
				| Open Source Chats
			p.lead
				| Welcome to the home of uhub's open source projects.
				if user && user.isAdmin
					p
						a(href='/me/create/room') Join the conversation
					p
						a(href='/me/create/room') Create a Room
				else if user && !user.isAdmin
					a(href='/contact') Contact us if you'd like to be able to volunteer to be a chat administrator.
				else
					a(href='/join').js-auth-trigger Join now
					| &nbsp;and work together to create awesome projects

block content
	.container
		.row
			.col-md-12
				.page-header
				h1
					| Open Source Projects
					small These are some of our most popular open source projects.
				h2
				| Heading
				p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				p
				a.btn(href='#') View details »


		.row
			.col-md-4
				.list-group
					a.list-group-item.active(href='#') iOS Projects
				.list-group-item
					| List header
				.list-group-item
					h4.list-group-item-heading
					| List group item heading
					p.list-group-item-text
					| ...
				.list-group-item
					span.badge 14
					| Help
				a.list-group-item.active
					span.badge 14
					| Help
			.col-md-4
				.list-group
				a.list-group-item.active(href='#') Home
				.list-group-item
					| List header
				.list-group-item
					h4.list-group-item-heading
					| List group item heading
					p.list-group-item-text
					| ...
				.list-group-item
					span.badge 14
					| Help
				a.list-group-item.active
					span.badge 14
					| Help
			.col-md-4
				.list-group
				a.list-group-item.active(href='#') Home
				.list-group-item
					| List header
				.list-group-item
					h4.list-group-item-heading
					| List group item heading
					p.list-group-item-text
					| ...
				.list-group-item
					span.badge 14
					| Help
				a.list-group-item.active
					span.badge 14
					| Help
block js
	script(src='/js/gitter/sidecar.js')
	script(src='https://sidecar.gitter.im/dist/sidecar.v1.js', async='', defer='')