extends ../../layouts/default

include ../../jade-bootstrap/components/tables

block intro
	.container
		.page-intro
			h1.page-title
				| Open Source Chats
			p.lead
				| Welcome to the home of uhub's open source projects.
				if user && user.isAdmin
					p
						a(href='/me/create/room') Join the conversation
					p
						a(href='/me/create/room') Create a Room
				else if user && !user.isAdmin
					a(href='/contact') Contact us if you'd like to be able to volunteer to be a chat administrator.
				else
					a(href='/join').js-auth-trigger Join now
					| &nbsp;and work together to create awesome projects

block content
	.container
		.row
			.col-md-12
				.page-header
				h1
					| Active Teams
					small 
		if data.rooms.length && data.roomTableHeaders.length && data.roomTable
		.row
			+table(data.roomTableHeaders, data.roomTable, "table-hover")
block js
	script(src='/js/gitter/sidecar.js')
	script(src='https://sidecar.gitter.im/dist/sidecar.v1.js', async='', defer='')