extends ../../layouts/default

block content
	.container-sm
		a(href='/projects').text-muted &larr; Back to the project gallery
		article.full-project
			.row.form-group
			.col-xs-12.col-md-6
			.panel.panel-default
			.panel-heading
				h3.panel-title project.title
			.panel-image.hide-panel-body
				img.panel-image-preview(src='http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG')
					label(for='toggle-3')
					input#toggle-3.panel-image-toggle(type='checkbox')
					.panel-body
						h4 project.description
						p
						| created by&nbsp
						| a(href='/members', rel='author')=project.author.name.full
						| project.content.brief
					.panel-footer.text-center
						a(href='project.download')
					span.glyphicon.glyphicon-download
						a(href='project.githubURL')
					span.fa.fa-github
						a(href="https://twitter.com/share", data-via="uHub", data-hashtags="uHub", data-count="button", data-dnt="true").twitter-share-button
					span.fa.fa-twitter
						.fb-like(data-href="http://www.uHub.io/projects/browse/" + project.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
					span.share-button

block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
