extends ../../layouts/default

include ../../mixins/projects

block intro
	.page-intro: .container
		h1.page-title=data.category ? data.category.name : 'Project Gallery'
		p.lead
			| Welcome to the project gallery!  Here are some recent projects posted to uHub by our members.&nbsp;
			a(href='/join').js-auth-trigger Join now
			| &nbsp;to submit your projects.

block content
	.page-content: .container
		.row
			div(class= data.categories.length || !data.projects.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.category && !data.category
					h3 Invalid Category.
				else
					if data.projects.length
						.project-cards.row(itemscope itemtype="http://schema.org/Blog")
							each project in data.projects
								+project(project)
					else
						if data.category
							h3.text-muted No projects in the category #{data.category.name}.
						else
							h3.text-muted There are no projects yet.
			
			if data.categories.length
				.col-md-2
					if data.categories.length
						h5.text-muted Filter by categore
						ul.list-unstyled.tags-list
							li: a(href='/projects', class=!data.categories ? 'active' : false) All
							each tag in data.categories
								li: a(href='/projects/' + tag.key, class=data.category && data.category.id == tag.id ? 'active' : false).list-group-item= tag.name