extends ../../layouts/default

include ../../mixins/project

block intro
	.page-intro: .container
		h1.page-title=data.nanodegree ? data.nanodegree.title : 'Project Gallery'
		p.lead
			| Welcome to the project gallery!  Here are some recent projects posted to uHub by our members.&nbsp;
			if user.canPostProjects
				p 
					a(href='/me/create/project') Submit your capstone project.
				if user.projects
				p 
					a(href='/me/projects') View or edit your projects.
			else
				a(href='/join').js-auth-trigger Join now
				| &nbsp;to submit your capstone project.
block content
	.page-content: .container
		.row
			div(class= data.nanodegrees.length || !data.projects.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.nanodegree && !data.nanodegree
					h3 Invalid Nanodegree.
				else
					if data.projects.length
						.container(style='margin-top:10px;')
							.row.form-group
							each project in data.projects
								+project(project)
					else
						if data.nanodegree
							h3.text-muted No projects in the nanodegree #{data.nanodegree.title}.
						else
							h3.text-muted There are no projects yet.
			
			if data.nanodegrees.length
				.col-md-2.text-center
					if data.nanodegrees.length
						h5.text-muted Filter by Nanodegree
						ul.list-unstyled.tags-list
							li: a(href='/projects', class=!data.nanodegrees ? 'active' : false) All
							each tag in data.nanodegrees
								li: a(href='/projects/' + tag.key, class=data.nanodegree && data.nanodegree.id == tag.id ? 'active' : false).list-group-item=tag.title