extends ../../layouts/default

include ../../mixins/teamspotlight


block flash-messages
	//- !!! intentionally left blank

block intro
	.page-intro: .container
		h1.page-title Teams
		p.lead We are the best and brightest.  We will create the next big thing.
		if !user || user && !user.teams.exists
			.btn.btn-primary-btn-lg
block content
	.container
		+flash-messages(messages)
		.section.highlight: .container
		.row.about-organisers
			if data.teams.length
				each teamToSpotlight in teams
					.col-sm-3
						+spotlight(teamToSpotlight)

			//- CODE
			.section: .container-sm
				h2 Want to involved?
				p.lead At the moment, we are only offering beta signups for our teams. 
				if user && user.teams.count == 0
					a(href='/form/join-team').btn.btn-primary Join a Team
						+auth-forms({ modal: true, initial: 'join' })
				else if !user
					a(href='/join').btn.btn-primary

		//- if data.teams.length
		//- .section
		//- 	.row
		//- 		each team in data.teams
		//- 			+team(team)
block js
	script(src='/js/lib/bootstrap/transition.js')
	script(src='/js/lib/bootstrap/tooltip.js')
	script(src="/js/lib/masonry/masonry.pkgd.min.js")
	script(src="/js/lib/masonry/imagesloaded.pkgd.min.js")
	script(src="/js/views/members.js")
