// Blog
// ------------------------------

@project-image-width: 170px;
.project-post {
	.clearfix();
	margin-bottom: 40px;
	text-align: center;
	
}
.project-post__image {
	margin-bottom: 20px;
}
.project-post__content {
	text-align: left;
}
.project-post__heading {
	margin-top: 0;
	
	a {
		color: @headings-color;
	}
}
.project-post__author {
	color: mix(@body-bg, @text-color, 50%);
	font-weight: 200;
	
	a {
		color: mix(@body-bg, @text-color, 50%);
	}
}

@media (min-width: @screen-sm-min) {
	.project-post__image {
		float: left;
		width: @post-image-width;
	}
	.project-post__content {
		margin-left: @post-image-width + 20;
		&.link {
			margin-left: 0;
		}
	}
}

// Blog
// ------------------------------

// Card styles

.project-cards {
	.post-card:nth-of-type(3n+1) {
		clear: both;
	}
	> div:nth-child(1) .post-card, > div:nth-child(2) .post-card, > div:nth-child(3) .post-card {
		margin-top: 0;
	}
}

.project-card {
	.tile-base();
	margin-top: 2em;
	overflow: hidden;

	a {
		color: @gray-darker;
	}
	
	.project-summary {
		padding: @page-padding / 2;
		.project-byline {
			.clearfix();
			padding-bottom: @page-padding / 4;
			border-bottom: 1px solid @gray-darker;
			color: @gray-darker;
			font-size: @font-size-base * 0.85;
			font-weight: 400;

			.project-author { float: left; text-transform: uppercase; }
			.date-stamp { float: right; }
		}
		.project-title {}
		.project-content-brief {
			font-size: @font-size-base * 1.1;
		}
	}

	@media (max-width: @screen-xs-max) {
		margin-top: 0;
	}
}

// Full post
.full-project {
	.project-post__title {
		margin: 0 0 0.25em;
	}
}

// share buttons
.share-buttons {
	margin: 20px 0;
	height: 30px;
	.clearfix();
	position: relative;
	
	@media (min-width: @screen-sm-min) {
		&.right {
			float: right;
		
			.share-button {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
	.share-button {
		display: block;
		position: absolute;
		width: 80px;
	}

	.share-button:nth-child(1) {
		left: 0;
		top: -2px;
	}

	.share-button:nth-child(2) {
		left: 100px;
		top: 0;
	}
	.share-button:nth-child(3) {
		left: 200px;
		top: 0;
	}

}


// Comment
.comments {
	margin-top: 3em;
	padding-top: 2em;
	border-top: 1px solid @gray-light;
	.comment {
		h6 {
			span {
				font-weight: 300;
			}
		}
	}
}

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.panel-image {
    position: relative;   
}
.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
   overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
	padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}